//Buttons

.btn {
    border: 1px solid $color-gold;
    color: $color-white;
    background-color: $color-gold;
    font-weight: 700;
    font-size: 12px;
    line-height: 10px;
    // padding: 15px 30px;
    width: 150px;
    height: 50px;
    text-transform: uppercase;
    border-radius: 5px;

    &__o {
        color: $color-white;
        background-color: transparent;
        border: 1px solid $color-white;
    }
}

.hover-btn {
    box-shadow: 2px 4px 0 rgba(black, 0.3);
    transition: ease all 0.3s;

    &:hover {
        transform: translateY(-3px);
        box-shadow: 3px 5px 0 rgba(black, 0.4);
    }

    &:active {
        transform: translateY(0);
        box-shadow: 3px 5px 4px rgba(black, 0.4);
    }
}

//Section pretitle
.pretitle {
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 5px;
    line-height: 15px;
    text-transform: uppercase;
    display: block;
    margin-bottom: 45px;
    text-align: center;
}

//Section title
.title {
    font-family: "Banny Light Round";
    text-transform: uppercase;
    font-size: 36px;
    line-height: 48px;
    text-align: center;

    &::after {
        content: "";
        display: block;
        width: 60px;
        height: 5px;
        background-color: $color-gold;
        margin: 0 auto;
        border-radius: 50px;
        margin-top: 10px;
    }
}

//Section subtitle
.subtitle {
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    margin-top: 10px;
}

// Section description
.description {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
    margin-top: 15px;
}

//square
.square-left,
.square-right {
    &::before {
        content: "";
        display: block;
        width: 240px;
        height: 240px;
        background-color: transparent;
        border: 20px solid $color-gold;
        border-radius: 5px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}

.square-left {
    &::before {
        right: 0;
        left: 15px;
    }
}

.square-right {
    &::before {
        right: 15px;
    }
}

.section__img {
    & > img {
        border-radius: 5px;
        overflow: hidden;
    }
}

//Form-input
.form__input {
    width: 100%;
    height: 60px;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: $color-form;
    padding: 10px 20px;

    &:focus {
        border: 1px solid #e8c300;
        border-radius: 5px;
    }
}
