//Bootstrap-reset
@import '../../node_modules/bootstrap/scss/bootstrap-reboot';

//Bootstrap-grid
@import '../../node_modules/bootstrap/scss/bootstrap-grid';

//Fonst
@import 'fonts';

//Settings
body {
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-decoration: none !important;
}

p, span, h1, h2 {
    margin: 0;
    padding: 0;
}

@media (min-width: 1300px) {
    .container, .container-sm, .container-md, .container-lg, .container-xl {
      max-width: 1280px; } }
  

@import 'variables';
@import 'interface';
//Header
@import 'blocks/header';
//About
@import 'blocks/about';
//Team
@import 'blocks/team';
//Form
@import 'blocks/form';
//Specialties
@import 'blocks/specialties';
//Delicious
@import 'blocks/delicious';
//Events
@import 'blocks/events';
//Gallery
@import 'blocks/gallery';
//Contact
@import 'blocks/contact';
//Map
@import 'blocks/map';
//Footer
@import 'blocks/footer';
//Media-queries
@import 'blocks/media-queries';