.about {
    padding: 100px 0;
    // &-left {
    //     display: flex;
    //     flex-direction: column;
    //     flex-basis: 40%;
    // }

    // &-right {
    //     position: relative;
    //     padding-right: 87px;
    // }
}



