.contact {

    & .form__input {
        width: 100%;
    }

    & [type="textarea"] {
        height: 120px;
        width: 100%;
    }

    &__info {
        font-weight: 800;
        font-size: 12px;
        line-height: 12px;

        color: grey;
    }

    & .btn {
        width: 100%;
    }
}