.delicious {
    padding: 100px 0;
    &-menu {
        margin: 50px 0;
        &__item {
            text-transform: uppercase;
            display: flex;
            align-items: center;
            margin-right: 30px;
            font-weight: bold;
            font-size: 12px;
            line-height: 18px;
           &:after {
               content: '';
               display: inline-block;
               height: 35px;
               width: 1px;
               background-color: rgba(51, 51, 51, 0.2);;
               margin-left: 30px; 
           }

           &:last-child {
               &:after {
                   display: none;
               }
           }

        }
    }

    .list__item {
        display: flex;
        flex-direction: column;
        padding: 5px;
    }

    .list__body {
        display: flex;
        flex-direction: row;
        font-family: 'Banny Round';
        font-size: 15px;
        line-height: 15px;
        text-transform: uppercase;
    }

    .list__description {
        font-size: 11px;
        line-height: 18px;
        color: grey;
    }
}