.events {
    color: $color-white;
    background: black url("../images/events-bg.jpg") top center / cover no-repeat;

    padding: 45px 0;

    &__block-left, &__block-right {
        width: 80px;
        height: 476px;
        display: block;
        position: absolute;
        background-color: black;
        top: 0;

        //Text position
        & span {
            display: flex;
            transform: rotate(-90deg);
            position: absolute;
            font-family: "Banny Round";
            font-size: 24px;
            // line-height: 12px;
            text-transform: uppercase;
            width: 100%;
        }
    }

    &__block-left {
        & span {
            transform: rotate(90deg);
            top: 10%;
        }
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    &__block-right {
        & span {
            bottom: 10%;
        }
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .events__info {
        font-size: 12px;
        line-height: 12px;
        color: rgba(255, 255, 255, 0.5);
        display: block;
        text-align: center;
        padding-top: 45px;
        & > a {
            font-weight: bold;
        }
    }
}
