.form {
    padding: 100px 0 45px 0;
    width: 100%;

    &__button {
        width: 100%;
        border: none;
        border-radius: 5px;
        color: white;
        background-color: $color-gold;
        padding: 20px 40px;
        text-transform: uppercase;

        margin-top: 5px;
    }

    &__info {
        display: block;
        text-align: center;
        font-size: 12px;
        color: rgba(51, 51, 51, 0.5);
        padding-top: 45px;
        & > a, span {
            font-weight: 700;
        }
    }
}