.header {
    color: $color-white;
    background: black url("../images/header/header-bg.jpg") top center / cover no-repeat;
    .nav {
        height: 175px;

        &-list {
            &__item {
                text-transform: uppercase;
                font-weight: 700;
                font-size: 12px;
                line-height: 18px;
                padding: 41px 0;
            }

            &__link {
                transition: color ease 0.2s;
                &:hover {
                    color: $color-gold;
                }
            }
        }
    }

    .logo__link {
        position: absolute;
        width: 150px;
        height: 150px;
        top: 25px;
        left: 50%;
        transform: translateX(-50%);
    }

    .spacer {
        width: 10%;
    }

    .sidepanel {
        transform: rotate(-90deg) translateY(-50%);
        position: absolute;
        width: 250px;
        top: 50%;
        left: -90%;
        &__text {
            font-size: 12px;
            line-height: 12px;
        }
    }

    .pretitle {
        padding-top: 100px;
    }

    .title {
        font-size: 96px;
        line-height: 134px;

        &::after {
            margin-top: 0;
        }
    }

    .group-btn {
        padding-top: 30px;

        & .btn:first-child {
            margin-right: 40px;
        }
    }
    
    .btn-scroll-inner {
        width: 60px;
        height: 60px;
        border: 1px solid grey;
        border-radius: 50%;
        margin: 82px 0;
        background-color: rgba(black, 0);
        transition: all ease .3s;

        &:hover {
            background-color: rgba(white, .3);
        }
    }
        
    .btn__scroll {
        width: 40px;
        height: 40px;
        border: none;
        border-radius: 50%;
        background-color: $color-white;
        display: block;
        margin: 0 auto;

 
    }

    .social-list {
        position: absolute;
        right: 15%;
        top: 50%;
        transform: translateY(-50%);

        &__item {
            margin-top: 25px;
            border: 1px solid rgba(white, 0.2);
            border-radius: 50%;
            padding: 15px;
            cursor: pointer;
            transition: ease background-color 0.2s;

            &:first-child {
                margin-top: 0;
                img {
                    padding-left: 4px;
                }
            }

            &:hover {
                background-color: rgba(white, 0.3);
            }
        }
    }

    .burger-menu {
        width: 35px;
        height: 25px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 42px;
        right: 50px;
        cursor: pointer;
        

        &__item {
            width: 30px;
            height: 5px;
            background-color: $color-gold;
            display: block;
            border-radius: 5px;
            transition: all .3s linear;
            opacity: 1;
        }
    }

    .close-burger {
        & .burger-menu__item {
            &:nth-child(1) {
                transform: rotate(45deg) translate3d(7px, 7px, 0);
            }

            &:nth-child(2) {
                transform: rotate(-45deg);
            }

            &:nth-child(3) {
                transform: translateY(-20px);
                opacity: 0;
            }
        }
    }

}
