




//Extra-large
@media(max-width:1200px) {
    .events {
        &__block-left, &__block-right {
            height: 442px;

        }
    }
}

//Large
@media (max-width: 992px) {
    //Header
    .header {
        & .logo__link {
            margin-top: 30px;
        }

        & .sidepanel {
            left: -150%;
        }

        & .social-list {
            right: 34px;
        }

        & .title {
            font-size: 60px;
            line-height: 100px;
        }
    }
    
    //Interface
    //square
    .square-left,
    .square-right {
            &::before {
                display: none;
            }
    }

    //section__img
    .section__img {
        border: 20px solid $color-gold;
        border-radius: 5px;

        & > img {
            border-radius: 0;
        }

    }

    .events {

        & .section__img {
            border: none;
        }
        &__block-left, &__block-right {
            height: 325px;
            top: -2px;
        }

        &__block-left {
            right: 23px;
        }

        &__block-right {
            left: 23px;
        } 
    }

    //Contact
    .contact {
        &__info {
            font-size: 10px;
        }
    } 
}

//Medium
@media (max-width: 768px) {
    //header
    .header {
        & .title {
            font-size: 60px;
            line-height: 85px;
        }

        & .logo__link {
            top: 45px;
        }
    }

    //interface
    //square
    .square-left,
    .square-right {
            &::before {
                display: none;
            }
    }

    //description 
    .description {
        margin-bottom: 25px;
    }

    //Form 
    .form__button {
        margin-bottom: 25px;
    }

    //delicious
    .delicious {
        &-menu__item {
            margin-right: 18px;

            &::after {
                margin-left: 18px;
            }
        }

        & .list__item {
            width: 60%;
            margin: 0 auto;
            padding-bottom: 1.5rem;
        }
    }

    //events
    .events {
        & .section__img {
            margin-bottom: 30px;
        }

        & .events__info {
            padding-top: 0;
        }

        &__block-left, &__block-right {
            height: 95%;
        }

        &__block-left {
            right: 0;
        }
    
        &__block-right {
            left: 0;
        }
    }

    //Contact-form 
    .contact {
        &__info {
            font-size: 10px;
            line-height: 10px;
        }

        & .btn {
            margin-top: 10px;
        }
    }
}

//Extra-small
@media (max-width: 576px) {
    .header {
        // & .nav {
        //     display: none;
        // }

        & .nav {
            position: absolute;
            height: 100px;
            left: 0;
            right: 0;
            margin: 110px auto 0 auto;
            z-index: 100;
            height: 380px;
            width: 290px;
            border-radius: 10px;
            overflow: hidden;
            opacity: 0;
            transform: translateX(-140%);
            transition: ease all .3s;

            &-list {
                display: flex;
                flex-direction: column;
                height: 100%;
                padding: 10px 0;
                background-color: rgba(black, .8);
                
                &__item {
                    padding: 0;
                    display: flex;
                    width: 100%;
                    line-height: 45px;
                }

                &__link {
                    margin: 0 auto;
                }
            }
        }

        & .logo__link {
            position: relative;
            width: 80px;
            height: 80px;
            top: 15px;
            left: 90px;
            padding-top: 0;
            margin-top: 0;

            & img {
                width: 100%;
                height: 100%;
            }
        }

        & .title {
            font-size: 36px;
        }
    }

    .show-nav {
        opacity: 1 !important;
        transform: translateX(0) !important;
    }
 
    .delicious {
        &-menu {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            &__item {
                flex-basis: 30%;
                margin-right: 0;
                display: block;
                text-align: center;
                line-height: 35px;
                &::after {
                    content: none;
                }
            }
        }
    }

    .events {

        & .section__img {
            border: none;
        }
        &__block-left, &__block-right {
            height: 95%;
            top: 0;
        }

        &__block-left {
            right: 23px;
        }

        &__block-right {
            left: 23px;
        } 
    }

    .contact {
        &__info {
            padding: 5px;
        }
    }
}







